{% extends "base.html" %}
{% block title %}{{ tag.title }}{% endblock %}
{% block content %}
        <h3>Stories tagged {{ tag.title }}</h3>
        <ul>
                <h4>Headlines</h4>
                {% for headline in headlines %}
                {% if tag.title in headline.tags %}
                <li><a href="{{ headline.url }}">{{ headline.title }}</a></li>
                {% endif %}
                {% endfor %}
                <h4>Opinions</h4>  
                {% for post in posts %}
                {% if tag.title in post.tags %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}                
        </ul>   
{% endblock %}